# Sanity.io Project Configuration
#
# You can find these values by visiting https://www.sanity.io/manage
# 1. Log in and select your project from the list.
# 2. Your Project ID is displayed on the project dashboard.
# 3. Your Dataset name is also listed on the dashboard (it's often "production").

VITE_SANITY_PROJECT_ID="00t6xfuz"
VITE_SANITY_DATASET="production"
